{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- Hero Area Start -->
{% include 'partial/hero.html' %}
<!-- Hero Area End -->
<!-- Services Section Start -->
{% include  'partial/service.html' %}
<!-- Services Section End -->

<!-- About Section start -->
{% include 'partial/about.html' %}
<!-- About Section End -->

<!-- Features Section Start -->
{% include 'partial/feature.html' %}
<!-- Features Section End -->

<!-- Team Section Start -->
{% include 'partial/team.html'%}
<!-- Team Section End -->

<!-- Pricing section Start -->
{% include 'partial/pricing.html' %}
<!-- Pricing Table Section End -->

<!-- Testimonial Section Start -->
{% include 'partial/testimonial.html'%}
<!-- Testimonial Section End -->

<!-- Call To Action Section Start -->
{% include 'partial/call.html'%}
<!-- Call To Action Section Start -->

<!-- Contact Section Start -->
{% include 'partial/contact.html'%}
<!-- Contact Section End -->

<!-- Footer Section Start -->
{% include 'partial/footer.html' %}
<!-- Footer Section End -->

{% endblock %}